:targets:
  - :name: "Openline data modeling"
    :type: postgres
    :host: HOST_PLACEHOLDER
    :database: DB_PLACEHOLDER
    :port: PORT_PLACEHOLDER
    :username: USERNAME_PLACEHOLDER
    :password: PASSWORD_PLACEHOLDER
    :ssl: true # SSL disabled by default
:variables:
