:variables:
  :model_version:     postgres/web/0.0.1
  :scratch_schema:    scratch
  :output_schema:     derived
  :input_schema:      atomic
  :tenant_schema:     openline
  :tracker_table:     sp_tracker
  :entropy:           ""
  :start_date:        2022-01-01
  :cleanup:           true
